@charset "utf-8";

/* 確認ウィンドウ */

/* 背景 */
#gmsac-check-window {
    position:       fixed;
    width:          100%;
    height:         100%;
    top:            0;
    left:           0;
    background-color: rgba(0,0,0, 0.25);
    z-index:        998;
}

/* ウィンドウ外枠 */
#gmsac-check-window .window_outer {
    position:       absolute;
    width:          700px;
    max-width:      100%;
    max-height:     100%;
    right:          10px;
    bottom:         0px;
    background-color: #fee;
    border:         5px #866 solid;
    border-radius:  10px;
    box-shadow:     5px 5px 10px #444;
    font-size:      90%;
    display:        flex;
    flex-direction: column;
}

/* ヘッダー */
#gmsac-check-window .gmsac-header {
    display:        flex;
    justify-content: flex-end;
    align-items:    baseline ;
    background:   #866;
    color:        #fff;
    padding:        5px 20px;
}

 /* ヘッダー */
#gmsac-check-window .gmsac-header .gmsac-title {
    flex-grow:      100;
    font-weight:    bold;
}
#gmsac-check-window .gmsac-header .gmsac-version {
    flex-grow:      1;
    font-size:      80%;
    padding:        0px 10px;
}
#gmsac-check-window .gmsac-header a {
    flex-grow:      1;
    font-weight:    bold;
}

/*　チェックリスト領域  */
#gmsac-check-window .gmsac-check-area {
    padding:        10px;
    overflow:       auto;
}
#gmsac-check-window .gmsac-check-area table {
    width:          100%;
    table-layout:   fixed;
    overflow-wrap : break-word;
}
#gmsac-check-window .gmsac-check-area tr td:first-of-type {
    width:          15%;
}
#gmsac-check-window .gmsac-check-area tr td:nth-of-type(2) {
    margin:         10px;
    padding:        5px;
    background:     #fff;
    border:         1px solid #888;
}

/* チェックボックス */
/* チェックボックス */
.gmsac-checkbox-input{
    display: none;
}
.gmsac-checkbox-parts{
    padding-left: 20px;
    position:relative;
    margin-right: 20px;
    cursor: pointer;
}
.gmsac-checkbox-parts::before{
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 13px;
    height: 13px;
    border: 1px solid #999;
    border-radius: 4px;
}
.gmsac-checkbox-parts:hover::before{
    background-color: #fcebeb;
}

.gmsac-checkbox-input:checked + .gmsac-checkbox-parts{
}
.gmsac-checkbox-input + .gmsac-checkbox-parts::after{
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 4px;
    width: 4px;
    height: 9px;
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transform: rotate(40deg)  scale(0, 0);
    border-bottom: 3px solid #c00;
    border-right: 3px solid #c00;
}
.gmsac-checkbox-input:checked + .gmsac-checkbox-parts::after{
    transform: rotate(40deg)  scale(1, 1);
}

/* OK,CANCELボタン */
#gmsac-check-window .gmsac-button-area {
    margin:         10px;
    text-align:     center;
    display:        flex;
    justify-content: space-around;
}
#gmsac-check-window .gmsac-button-area input[type="button"] {
    width:	        40%;
    height:	        40px;
    font-weight:     bold;
    color:	        #444;
    border-radius:  10px;
    cursor: pointer;
    transition: all 0.2s;
}

#gmsac-check-window .gmsac-button-area input[type="button"]:hover {
    box-shadow: 0 0 2px 1px rgba(243, 87, 87, 0.3);
}